//Base layout
    
.container
    w(1600px)
    padding 0 5%
    overflow hidden

.content
    position relative
    +below(1100px)
        padding-top 90px
    
.page
    max-width 660px
    padding-top 100px // margina pocetnog naslova
    margin 0 auto

.section
    &__description
        max-width 500px
        margin-bottom 30px
