//Buttons

.cta
    background-color transparent
    padding 16px 28px 15px
    border-radius 28px
    display inline-block
    transition all 0.2s ease
    opacity 1
    color $light-blue
    border 2px solid $light-blue
    background-color rgba(13,209,255,0.04)
    // margin 30px 0
    line-height 1
    cursor pointer
    &:hover
        background-color rgba(13,209,255,0.2)
        transform scale(1.02)
    
    