//Footer

footer
    font-size 14px
    padding 40px 0 10px
    border-top 1px solid lighten($light-blue, 80%)
    margin-top 120px
    .wrap
        w(1200px)
        display flex
        align-items center
        justify-content space-between
        flex-wrap wrap
        +below(900px)
            justify-content center
            text-align center
            .copyright
                order 2
    .footer-nav
        li,a
            display inline-block
        li
            margin-left 10px
            
        a
            padding 10px
            letter-spacing 0.3px
            opacity 0.8
            &:hover
                opacity 1