//
body
    background-color #fff
    position relative
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-rendering geometricPrecision
    // line-height 1.2

a
    position relative
    color $light-blue
    transition all 0.2s ease
    opacity 0.8
    display inline-block
    &:hover
        opacity 1